@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

form label {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 12px;
}

input {
    width: 850px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(24, 24, 23, 0.2);
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    padding: 15px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: rgb(58, 77, 95);
    transition: all .3s ease;
}

button:hover {
    background-color: rgba(24, 24, 23, 0.9);
}

.error, .success {
    border-radius: 5px;
    padding: 10px;
}

.error {
    color: #000;
    border: 2px solid rgba(248, 48, 48, 0.733);
    background-color: rgb(248, 48, 48, 0.6);
}

.success {
    color: #fff;
    border: 2px solid rgba(0, 128, 0, 0.733);
    background-color: rgba(0, 128, 0, 0.733);
}

